/*

!.cargo
.cargo/*
!.cargo/config

!.config
.config/*
!.config/dunst
!.config/foot
!.config/hypr
!.config/kitty
!.config/scripts
!.config/swaylock
!.config/waybar
!.config/wofi

!.config/zsh
.config/zsh/*
!.config/zsh/.zshrc
!.config/zsh/aliases.zsh
!.config/zsh/env.zsh
!.config/zsh/options.zsh
!.config/zsh/plugins.zsh
!.config/zsh/theme.zsh

!.gitignore
!README.md
!.zshenv