/*

!.cargo
.cargo/*
!.cargo/config

!.config
.config/*
!.config/dunst
!.config/foot
!.config/hypr
!.config/kitty
!.config/scripts
!.config/swaylock
!.config/waybar
!.config/wofi
!.config/zsh

!.gitignore
!README.md
!.zshrc
!.zshenv