* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 20px;
    margin: 1px 0;
}

window#waybar {
    background: rgba(53, 79, 82, 0.6)
}

window#waybar.hidden {
    opacity: 0.1;
}

tooltip {
    background: #1e1e2e;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    color: #FFFFFF;
}

#workspace button.hover {
    color: #000000;
}

#workspaces button.active {
    color: white;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#workspaces,
#tray,
#backlight,
#pulseaudio,
#network,
#clock,
#custom-power {
    /* background-color: #76C893; */
    color: #FFFFFF;
    padding: 0 10px;
    margin: 0 2px;
    border-radius: 3px;
}

#custom-power {
    padding-right: 25px;
}

@keyframes blink {
    to {
        color: #000000;
    }
}
