* {
  border: none;
  border-radius: 0;
  font-family: JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 20px;
}

window#waybar {
  color: #ffffff;
  background: @theme_base_color;
}

/* #workspaces button {
  padding: 5px;
} */

#workspaces button.active {
  color: rgb(60, 179, 113);
}

#workspaces button.focused {
  color: rgb(60, 179, 113);
}

#workspaces button:hover {
  color: rgb(60, 179, 113);
  background: rgba(0, 0, 0, 0);
}

#window {
  margin: 0px 60px;
  font-size: 16px;
}

tooltip {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

#tray {
  margin: 5px;
  padding: 5px;
}

#network,
#battery,
#pulseaudio {
  margin: 5px 0px;
  padding: 0px 10px;
}

#battery {
  padding: 0px 5px 0px 10px;
}

#battery.charging {
  padding: 0px 10px;
}

#clock{
  margin: 5px;
  padding: 0px 5px;
  font-size: 18px;
}