* {
  border: none;
  border-radius: 0;
  font-family: Material Design Icons, JetBrainsMono Nerd Font;
  font-weight: bold;
  font-size: 20px;
}

window#waybar {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: #cdd6f4;
}

#workspaces button {
  padding: 5px;
  color: #cdd6f4;
  margin-right: 5px;
}

#workspaces button.active {
  color: rgb(60, 179, 113);
}

#workspaces button.focused {
  color: rgb(60, 179, 113);
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0);
}

#window {
  margin: 0px 60px
}

tooltip {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

#workspaces,
#window,
#tray,
#network,
#bluetooth,
#battery,
#backlight,
#pulseaudio,
#clock,
#custom-power {
  padding: 0px 10px;
}